.note-editor {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: $radius;
    border-top: $border-top;
    hr {
        margin: 0 0;
    }
    input,
    textarea {
        border: none
    }
    .form-control,
    .markdown {
        margin: 0;
        padding: $box-padding;
    }
    .editor-title,
    .editor-track {
        font-size: 1.3em;
        font-weight: 600;
    }
    .editor-body {
        textarea {
            resize: none;
            height: calc(100vh - 260px);
        }
    }
    .editor-hashtags {
        padding: $box-padding/2 $box-padding;
        font-size: 0.9em;
        font-weight: bold;
        color: $note-header-blue;
    }
    textarea {
        padding: 0;
    }
    .markdown {
        height: calc(100vh - 220px);
        overflow-y: auto;
    }
}

.note-editor-footer {
    background: $new-note-footer;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: $box-padding/2 $box-padding;
    .actions {
        button {
            margin-left: 10px;
        }
    }
    .btn-link {
        color: $note-dark-blue;
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }
}