.note-editor {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: $radius;
    border-top: $border-top;
    hr {
        margin: 0 0;
    }
    input,
    textarea {
        border: none
    }
    .form-control,
    .markdown {
        margin: 0;
        padding: $box-padding;
    }
    .editor-title,
    .editor-track input {
        font-weight: 600;
        padding: 0;
        padding: 10px 20px;
    }
    .editor-track .dropdown-menu {
        left: inherit;
        right: 0;
        width: 15rem;
        padding: 0;
        font-size: 0.9  em;
        color: $font-color;
        background-color: $off-white;
        border: 1px solid $note-gray;
        border-radius: none;
        li {
            padding: 5px 10px;
            &:hover, &.active {
                background: $note-green;
                color: #fff;
            }
        }
    }
    .editor-track,
    &.bootstrap-typeahead,
    &.bootstrap-typeahead-input {
        padding: 0;
        border: none;
        .selected-track {
            padding: 7px 0;
            font-family: $font-family-fancy;
            span.selected-tag {
                display: inline-block;
                max-width: 200px;
                font-weight: normal;
                padding: 0 5px;
                color: $white;
                border-radius: $radius;
                margin-right: 15px;
            }
            button {
                margin: 0;
                padding: 0;
                color: #eee;
                margin-top: -4px;
                font-size: 0.8em;
            }
        }
    }
    .editor-body {
        textarea {
            resize: none;
            height: calc(100vh - 240px);
        }
    }
    .editor-hashtags {
        padding: 0;
        border: none;
        .bootstrap-tokenizer {
            border: none;
            padding: 10px 20px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            cursor: auto !important;
            .token {
                background-color: $note-blue;
                border: 0;
                font-size: 0.8em;
                border-radius: 2px;
                color: $white;
                display: inline-block;
                line-height: 1em;
                margin: 0 5px 0 0;
                padding: 4px 16px 4px 7px;
                position: relative;
                &::before {
                    content: "#";
                    font-size: 1.2em;
                }
            }
            .close-button {
                position: absolute;
                margin-left: 3px;
                font-size: 1.5em;
                &:hover {
                    color: $note-header-blue-text;
                }
            }
        }
        input {
            font-size: 0.9em;
            font-weight: bold;
            color: $note-blue;
            width: 30px;
        }
        ul.bootstrap-typeahead-menu a::before {
            content: '#';
        }
        .dropdown-menu-justify {
            width: 100%;
            border: none;
            background: #fafafa;
            border-radius: 0;
            padding: 0;
            li {
                padding: 5px 20px;
                &.active,
                &:hover {
                    background-color: $note-blue;
                    color: $white;
                }
            }
        }
    }
    textarea {
        padding: 0;
    }
    .markdown {
        height: calc(100vh - 200px);
        overflow-y: auto;
    }
}

.note-editor-footer {
    background: $new-note-footer;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: $box-padding/2 $box-padding;
    .actions {
        button {
            margin-left: 10px;
        }
    }
    .btn-link {
        color: $note-dark-blue;
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }
}