span.hashtag {
	margin-right: 5px;
	background: #95a5a6;
	padding: 3px 5px;
	color: $white;
	font-weight: normal;
	font-size: 0.8em;

	&:hover {
		background: #7f8c8d;
	}

	a {
		color: $white;

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}