span.tag {
	margin: 5px 5px 0 0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	padding: 3px 5px;
	color: $white;
	font-weight: normal;
	font-size: 0.8em;

	a {
		color: $white;

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}

span.hashtag {
	background: $note-blue;

	&:hover {
		background: $note-blue-light;
	}
}

span.tracktag {
	background: #61e499;
	max-width: 140px;

	&:hover {
		background: $note-green-light;
	}
}