.header {
    .search-bar {
        width: 100%;
    }
    &.searchBar-pinned {
        background: $note-orange-light;
        input[type="text"].search-input {
            background: #fa8863;
        }
        input[type="text"].search-input::-webkit-input-placeholder {
            color: $note-orange-text;
        }
        input[type="text"].search-input::-moz-placeholder {
            color: $note-orange-text;
        }
        input[type="text"].search-input:-ms-input-placeholder {
            color: $note-orange-text;
        }
        input[type="text"].search-input:-moz-placeholder {
            color: $note-orange-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-orange-text;
            }
        }
    }
    &.searchBar-track {
        background: $note-green;
        input[type="text"].search-input {
            background: #4cb578;
        }
        input[type="text"].search-input::-webkit-input-placeholder {
            color: $note-green-text;
        }
        input[type="text"].search-input::-moz-placeholder {
            color: $note-green-text;
        }
        input[type="text"].search-input:-ms-input-placeholder {
            color: $note-green-text;
        }
        input[type="text"].search-input:-moz-placeholder {
            color: $note-green-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-green-text;
            }
        }
    }
    &.searchBar-drafts {
        background: $note-purple;
        input[type="text"].search-input {
            background: #c772d5;
        }
        input[type="text"].search-input::-webkit-input-placeholder {
            color: $note-purple-text;
        }
        input[type="text"].search-input::-moz-placeholder {
            color: $note-purple-text;
        }
        input[type="text"].search-input:-ms-input-placeholder {
            color: $note-purple-text;
        }
        input[type="text"].search-input:-moz-placeholder {
            color: $note-purple-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-purple-text;
            }
        }
    }
    .typeahead {
        width: calc(100% - 10px);
        ul.typeahead-selector {
            position: absolute;
            background: #fff;
            left: 0;
            box-sizing: border-box;
            text-align: left;
            list-style-type: none;
            margin: 0 0 0 0;
            padding: 0 67px;
            right: 0;
            box-shadow: 0 0px 11px 2px rgba(0, 0, 0, 0.04), 0 6px 20px 5px rgba(0, 0, 0, 0.02), 0 8px 7px -5px rgba(0, 0, 0, 0.1);
            p {
                margin: 0;
            }
            li {
                padding: 7px 10px;
                border-bottom: 1px solid $off-white;
            }
            li:hover {
                background: $off-white
            }
        }
    }
}

input[type="text"].search-input {
    background: #7795a4;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3em;
    font-family: $font-family-fancy;
    margin: 5px;
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    display: block;
    color: #fff;
}

input[type="text"].search-input::-webkit-input-placeholder {
    color: $note-header-blue-text;
}

input[type="text"].search-input::-moz-placeholder {
    color: $note-header-blue-text;
}

input[type="text"].search-input:-ms-input-placeholder {
    color: $note-header-blue-text;
}

input[type="text"].search-input:-moz-placeholder {
    color: $note-header-blue-text;
}