.nom-list {
    .time-node {
        margin-bottom: 25px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                padding: 8px 13px;
                background: white;
                border: 1px solid #eee;
                color: $font-color;
            }

            li:hover {
                background: #eee;
            }

            a:active,
            a:focus,
            a:hover {
                text-decoration: none;
            }
        }

        .title {
            margin-left: 5px;
        }

        .comment-count {
            color: $nom-gray-dark;
        }
    }
}
