a.btn-circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 0;
	color: $white;

	i {
		font-size: 0.9em;
		margin: 6px 0 0 -1px;
	}
}

.btn-success {
	background-color: $nom-green-light;
	border: 1px solid $nom-green-light;

	&:hover {
		background-color: $nom-green;
		border: 1px solid $nom-green;
	}
}

.btn-toolbar {
    color: #7f8c8d;
    background-color: #FAFAFA;
    nom-gray: #eee;

	&:hover, &:active, &:focus {
		background-color: #eee;
		outline: none !important;
	}
}

span.hashtag {
	margin-right: 5px;
	background: #95a5a6;
	padding: 3px 5px;

	&:hover {
		background: #7f8c8d;
	}

	a {
		color: $white;
		font-weight: normal;
		font-size: 1.1em;

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}

span.error {
    color: $white;
    background: $nom-red-light;
    padding: 3px 8px;
    border-radius: 3px;
	font-family: $font-family-fancy;
	font-size: 0.9em;
}

.avatar {
	border-radius: 50%;
}

.avatar.timeline {
	margin-top: 8px;
}
