a.btn-circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 0;
	color: $white;

	i {
		font-size: 0.9em;
		margin: 6px 0 0 -1px;
	}
}

span.hashtag {
	margin-right: 5px;
	background: #EEEEEE;

	a {
		font-weight: normal;
		font-size: 1.2em;
	}
}

.avatar {
	border-radius: 50%;
}

.avatar.timeline {
	margin-top: 8px;
}
