a.btn-circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 0;
	color: $white;

	i {
		font-size: 0.9em;
		margin: 6px 0 0 -1px;
	}
}

.btn-toolbar {
    color: #757575;
    background-color: #FAFAFA;
    border-color: #eee;

	&:hover, &:active, &:focus {
		background-color: #eee;
		outline: none !important;
	}
}

span.hashtag {
	margin-right: 5px;
	background: #EEEEEE;

	a {
		font-weight: normal;
		font-size: 1.2em;
	}
}

span.error {
    color: $white;
    background: $error-red;
    padding: 3px 8px;
    border-radius: 3px;
	font-family: $font-family-fancy;
	font-size: 0.9em;
}

.avatar {
	border-radius: 50%;
}

.avatar.timeline {
	margin-top: 8px;
}
