.header {
    .search-bar {
        width: 100%;
    }
    &.searchBar-pinned {
        background: $note-orange-light;
        .search-input input[type="text"] {
            background: #fa8863;
        }
        .search-input input[type="text"]::-webkit-input-placeholder {
            color: $note-orange-text;
        }
        .search-input input[type="text"]::-moz-placeholder {
            color: $note-orange-text;
        }
        .search-input input[type="text"]:-ms-input-placeholder {
            color: $note-orange-text;
        }
        .search-input input[type="text"]:-moz-placeholder {
            color: $note-orange-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-orange-text;
            }
        }
    }
    &.searchBar-track {
        background: $note-green;
        .search-input input[type="text"] {
            background: #4cb578;
        }
        .search-input input[type="text"]::-webkit-input-placeholder {
            color: $note-green-text;
        }
        .search-input input[type="text"]::-moz-placeholder {
            color: $note-green-text;
        }
        .search-input input[type="text"]:-ms-input-placeholder {
            color: $note-green-text;
        }
        .search-input input[type="text"]:-moz-placeholder {
            color: $note-green-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-green-text;
            }
        }
    }
    &.searchBar-drafts {
        background: $note-purple;
        .search-input input[type="text"] {
            background: #c772d5;
        }
        .search-input input[type="text"]::-webkit-input-placeholder {
            color: $note-purple-text;
        }
        .search-input input[type="text"]::-moz-placeholder {
            color: $note-purple-text;
        }
        .search-input input[type="text"]:-ms-input-placeholder {
            color: $note-purple-text;
        }
        .search-input input[type="text"]:-moz-placeholder {
            color: $note-purple-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-purple-text;
            }
        }
    }
    .bootstrap-typeahead {
        width: calc(100% - 10px);
        ul.dropdown-menu {
            position: absolute;
            background: #fff;
            left: 0;
            box-sizing: border-box;
            text-align: left;
            list-style-type: none;
            margin: 0 0 0 0;
            padding: 0;
            right: 0;
            border-radius: 0;
            box-shadow: 0 0px 11px 2px rgba(0, 0, 0, 0.04), 0 6px 20px 5px rgba(0, 0, 0, 0.02), 0 8px 7px -5px rgba(0, 0, 0, 0.1);
            p {
                margin: 0;
                line-height: 1.4;
                font-size: 0.9em;
            }
            .display {
                font-weight: bold;
            }
            .description {
                color: $note-gray-active;
            }
            li {
                padding: 10px $box-padding;
                border-bottom: 1px solid $off-white;
            }
            li:hover,
            li.active {
                background: $off-white
            }
            .search-result .icon {
                float: left;
                padding-right: $box-padding;
                margin-top: 5px;
                .fa-stack-1x {
                    font-size: 0.8em;
                }
                .fa-history {
                    padding: 0 9px;
                }
            }
        }
    }
}

.search-input input[type="text"] {
    background: #7795a4;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3em;
    font-family: $font-family-fancy;
    margin: 2px;
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    display: block;
    color: #fff;
}

.search-input input[type="text"]::-webkit-input-placeholder {
    color: $note-header-blue-text;
}

.search-input input[type="text"]::-moz-placeholder {
    color: $note-header-blue-text;
}

.search-input input[type="text"]:-ms-input-placeholder {
    color: $note-header-blue-text;
}

.search-input input[type="text"]:-moz-placeholder {
    color: $note-header-blue-text;
}