/*
 * Base structure
 */

body {
  background: $off-white;
  font-family: $font-family;
  letter-spacing: .01rem;
  font-size: $font-size;
  line-height: 1.75em;
  color: $font-color;
  font-weight: $font-weight;
  margin-top: 70px;
  @include scrollbars(.5em, slategray);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-fancy;
}

hr {
  border-top: 1px solid #f2f2f2;
}

/*
 * Text styles
 */

a, a:hover, a.focus, a.active {
  color: $link-color;
}

.light {
  color: $font-color-light;
  font-weight: $font-weight-light;
}
