//generic colors
$white: #fff;
$off-white: #f5f5f5;
$nom-gray: #eee;
$nom-gray-medium: #ddd;
$nom-gray-dark: #ccc;
$nom-gray-active: #bbb;
$nom-dark-blue: #2c3e50;
$nom-dark-blue-active: #34495e;
$nom-green: #27ae60;
$nom-green-light: #2ecc71;
$nom-blue: #2980b9;
$nom-blue-light: #3498db;
$nom-faded-blue: #B0BEC5;
$nom-red: #c0392b;
$nom-red-light: #e74c3c;
$nom-yellow: #FFEE58;

//spacing/structure
$box-padding: 20px;
$box-margin: 20px;
$hr-border: 1px solid #f2f2f2;

//text
$font-family: "Open Sans",sans-serif;
$font-family-fancy: 'Sanchez', serif;
$font-color: #424242;
$font-weight: 400;
$font-size: 0.9em;
$line-height: 1.75em;
$font-weight-light: 300;
$font-weight-bold: bold;

//links
$link-color: #EC407A; 

//components
$border: 1px solid $nom-gray;
$box-shadow: 1px 1px 3px #eaeaea;
$radius: 5px;

//Sidebar
$sidebar-width: 230px;

//header colour
$header-color-primary: #638495;
$header-color-secondary: #d8e5ec;