//generic colors
$white: #fff;
$off-white: #f5f5f5;
$border-color: #eee;
$bg-blue: #263238;
$bg-blue-active: #38474f;

//spacing/structure
$box-padding: 20px;
$box-margin: 20px;

//text
$font-family: "Open Sans",sans-serif;
$font-family-fancy: 'Sanchez', serif;;
$font-color: #424242;
$font-weight: 400;
$font-size: 1em;
$font-color-light: #bbb;
$font-weight-light: 300;
$font-weight-bold: bold;

//links
$link-color: #EC407A;

//components
$border: 1px solid $border-color;