//generic colors
$white: #fff;
$off-white: #f5f5f5;
$border-color: #eee;
$bg-blue: #263238;
$bg-blue-active: #38474f;
$nom-green: #9CCC65;
$nom-blue: #BBDEFB;
//spacing/structure
$box-padding: 20px;
$box-margin: 20px;
//text
$font-family: "Open Sans",sans-serif;
$font-family-fancy: 'Sanchez', serif;
$font-color: #424242;
$font-color-secondary: #bbb;
$font-weight: 400;
$font-size: 0.9em;
$line-height: 1.75em;
$font-color-light: #bbb;
$font-weight-light: 300;
$font-weight-bold: bold;
//links
$link-color: #EC407A;
//components
$border: 1px solid $border-color;
//Sidebar
$sidebar-width: 260px;
//header colour
$header-color-primary: #638495;
$header-color-secondary: #d8e5ec;
