.typeahead {
    ul.typeahead-selector {
        position: absolute;
        background: $white;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: 5px 10px;
            &:hover {
                background: #eee;
                cursor: pointer;
                cursor: hand;
            }
            a {
                font-family: $font-family-fancy;
                width: 100%;
                color: $nom-dark-blue;
                font-weight: $font-weight-bold;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        li.hover {
            background: #eee;
        }
    }
}