.nom-editor {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: $radius;

    hr {
        margin: 0 0;
    }

    input, textarea {
        border: none
    }
    
    .form-control, .markdown {
        margin: 0;
        padding: $box-padding;
    }

    .editor-title {
        font-size: 1.5em;
    }

    .editor-body {
        textarea {
            resize: none;
            height: calc(100vh - 260px);
        }
    }

    .editor-hashtags {
        padding: $box-padding/2 $box-padding;
        font-size: 0.9em;
        font-weight: bold;
        color: $nom-header-blue;
    }

    textarea {
        padding: 0;
    }

    .markdown {
        height: calc(100vh - 220px);
        overflow-y: scroll;
    }
}

.nom-editor-footer {
    background: $new-nom-footer;
    bottom: 0;
    position: fixed;
    left: $sidebar-width;
    right: 0;
    padding: $box-padding/2 $box-padding;

    .actions {
        button {
            margin-left: 10px;
        }
    }
}