.header {
    background: $note-header-blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .sidebar-toggle {
        color: #fff;
        &:hover,
        &:active,
        &:focus {
            color: $note-header-blue-text;
        }
    }
    &.searchBar-pinned {
        background: $note-orange-light;
        input[type="text"]#search-bar {
            background: #fa8863;
        }
        input[type="text"]#search-bar::-webkit-input-placeholder {
            color: $note-orange-text;
        }
        input[type="text"]#search-bar::-moz-placeholder {
            color: $note-orange-text;
        }
        input[type="text"]#search-bar:-ms-input-placeholder {
            color: $note-orange-text;
        }
        input[type="text"]#search-bar:-moz-placeholder {
            color: $note-orange-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-orange-text;
            }
        }
    }
    &.searchBar-track {
        background: $note-green;
        input[type="text"]#search-bar {
            background: #4cb578;
        }
        input[type="text"]#search-bar::-webkit-input-placeholder {
            color: $note-green-text;
        }
        input[type="text"]#search-bar::-moz-placeholder {
            color: $note-green-text;
        }
        input[type="text"]#search-bar:-ms-input-placeholder {
            color: $note-green-text;
        }
        input[type="text"]#search-bar:-moz-placeholder {
            color: $note-green-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-green-text;
            }
        }
    }
    &.searchBar-drafts {
        background: $note-purple;
        input[type="text"]#search-bar {
            background: #c772d5;
        }
        input[type="text"]#search-bar::-webkit-input-placeholder {
            color: $note-purple-text;
        }
        input[type="text"]#search-bar::-moz-placeholder {
            color: $note-purple-text;
        }
        input[type="text"]#search-bar:-ms-input-placeholder {
            color: $note-purple-text;
        }
        input[type="text"]#search-bar:-moz-placeholder {
            color: $note-purple-text;
        }
        .sidebar-toggle {
            &:hover,
            &:active,
            &:focus {
                color: $note-purple-text;
            }
        }
    }
}

input[type="text"]#search-bar {
    background: #7795a4;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3em;
    font-family: $font-family-fancy;
    margin: 5px;
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    display: block;
    color: #fff;
}

input[type="text"]#search-bar::-webkit-input-placeholder {
    color: $note-header-blue-text;
}

input[type="text"]#search-bar::-moz-placeholder {
    color: $note-header-blue-text;
}

input[type="text"]#search-bar:-ms-input-placeholder {
    color: $note-header-blue-text;
}

input[type="text"]#search-bar:-moz-placeholder {
    color: $note-header-blue-text;
}