.nom-list {
    .time-node {
        margin-bottom: 25px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            a:active,
            a:focus,
            a:hover {
                text-decoration: none;
            }
        }

        .nom-node {
            padding: 8px 13px;
            margin-bottom: 3px;
            background: white;
            border: 1px solid #eee;
            color: $font-color;

            &:hover {
                background: #eee;
            }

            .title {
                font-weight: 600;
            }

            .body {
                color: #666;
            }
        }

        .comment-count {
            background: $nom-blue;
            color: $white;
            padding: 0px 3px;
            border-radius: 4px;
            font-size: 0.8em;
        }
    }
}

.empty-noms {
    text-align: center;

    img {
        max-width: 600px;
        margin-bottom: $box-padding * 2;
    }
}