a.btn-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    color: $white;
    i {
        font-size: 0.9em;
        margin: 6px 0 0 -1px;
    }
}

.btn-spacing {
    .btn {
        margin: 0 5px;
    }
}

.btn-success {
    background-color: $note-green-light;
    border: 1px solid $note-green-light;
    &:hover,
    &:active,
    &:focus {
        background-color: $note-green;
        border: 1px solid $note-green;
    }
}

.btn-info {
    background-color: $note-blue;
    border: 1px solid $note-blue;
    &:hover,
    &:active,
    &:focus {
        background-color: $note-dark-blue-active;
        border: 1px solid $note-dark-blue-active;
    }
}

.btn-toolbar {
    color: #7f8c8d;
    background-color: $off-white;
    border: 1px solid $off-white;
    &:hover,
    &:active,
    &:focus {
        background-color: $note-gray;
        outline: none !important;
    }
}