.inbox {
    .fa {
        color: $nom-faded-blue;
    }
}

.pinned {
    .fa-thumb-tack {
        color: $nom-orange-light;
    }
}

.nom-node {
    .fa-thumb-tack {
        margin-right: 5px;
    }
}