ul.node-list {
    a:active,
    a:focus,
    a:hover {
        text-decoration: none;
    }

    li {
        padding: 8px 13px;
        position: relative;
        margin-bottom: 5px;
        background: white;
        border: 1px solid $nom-gray;
        border-top: 2px solid $nom-faded-blue;
        color: $font-color;

        &:hover {
            background: $nom-gray;

            .quick-info {
                padding-right: 90px;
            }

            .node-toolbar {
                display: block;
            }
        }

        .title {
            font-weight: 600;
        }

        .body {
            color: #666;
        }
    }
}

.empty-content {
    text-align: center;

    img {
        max-width: 600px;
        margin-bottom: $box-padding * 2;
    }
}

.node-toolbar {
    display: none;
    position: absolute;
    top: 8px;
    right: 13px;

    .btn-secondary {
        color: #999;
        background-color: transparent;
        border-color: transparent;

        .fa {
            font-size: 1.1em;
        }
    }

    .btn-secondary:hover {
        color: #373a3c;
        background-color: transparent;
        border-color: transparent;
    }
}