//spacing/structure
$navbar-padding: 60px;
$box-padding: 20px;
$box-margin: 20px;
$hr-border: 1px solid #f2f2f2;
$border-top: 2px solid $nom-faded-blue;

//text
$font-family: "Open Sans",sans-serif;
$font-family-fancy: 'Sanchez', serif;
$font-color: #424242;
$font-weight: 400;
$font-size: 0.9em;
$line-height: 1.75em;
$font-weight-light: 300;
$font-weight-bold: bold;

//links
$link-color: #EC407A; 

//components
$border: 1px solid $nom-gray;
$box-shadow: 1px 1px 3px #eaeaea;
$radius: 5px;

//Sidebar
$sidebar-width: 280px;