.view-note {
    border-top: solid 2px $note-faded-blue;
}

.note-header {
    padding: 0 $box-padding $box-padding $box-padding;
    h3 {
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }
    div.hashtags {
        margin-top: 5px;
    }
}

.btn-delete-hashtag {
    font-size: 0.8em;
    color: #BDBDBD;
}